# Configuration file of japerl.bat
+{
    # choice any perl interpreter
    PERL5BIN =>
        ($0 =~ /perl(5[0-9]+)\.bat$/i) ? $ENV{"PERL${1}BIN"} : ($ENV{PERL5BIN} || $^X),
#       $^X,
#       'perl',
#       'C:/Perl/bin/perl.exe',
#       'C:/Perl58/bin/perl.exe',
#       'C:/Perl510/bin/perl.exe',
#       'C:/Perl512/bin/perl.exe',
#       (continue)

    # perl -Ilib1 -Ilib2 ...
    PERL5LIB => [
#       'lib1',
#       'lib2',
#       'libdevelop',
#       'libtest',
#       'librelease',
#       'appdevelop',
#       'apptest',
#       'apprelease',
#       '.',
#       @INC,
#       do { require Config; split($Config::Config{path_sep},$ENV{PERL5LIB}) },
#       do { require File::Basename; File::Basename::dirname(($0 =~ /perl(5[0-9]+)\.bat$/i) ? $ENV{"PERL${1}BIN"} : ($ENV{PERL5BIN} || $^X)) . '/../site/lib' },
#       do { require File::Basename; File::Basename::dirname(($0 =~ /perl(5[0-9]+)\.bat$/i) ? $ENV{"PERL${1}BIN"} : ($ENV{PERL5BIN} || $^X)) . '/../lib' },
#       do { require File::Basename; File::Basename::dirname($^X) . '/../site/lib' },
#       do { require File::Basename; File::Basename::dirname($^X) . '/../lib' },
#       do { require FindBin; $FindBin::Bin },
#       $ENV{HOMEDRIVE} . $ENV{HOMEPATH},
#       do { require Cwd; Cwd::cwd() },
#       (continue)
    ],

    # perl -Ilib1 -Ilib2 ...
    PERLLIB => [
#       do { require Config; split($Config::Config{path_sep},$ENV{PERLLIB}) },
    ],

    # choice script's encoding
    ENCODING =>

        # autodetect sample
#       do { require FindBin; require "$FindBin::Bin/Char.pm"; Char::from_chcp_lang(); },

        # or manual setting
        'Sjis',
#       'Arabic',
#       'Big5HKSCS',
#       'Big5Plus',
#       'Cyrillic',
#       'EUCJP',
#       'GB18030',
#       'GBK',
#       'Greek',
#       'Hebrew',
#       'HP15',
#       'INFORMIXV6ALS',
#       'JIS8',
#       'KOI8R',
#       'KOI8U',
#       'KPS9566',
#       'Latin1',
#       'Latin10',
#       'Latin2',
#       'Latin3',
#       'Latin4',
#       'Latin5',
#       'Latin6',
#       'Latin7',
#       'Latin8',
#       'Latin9',
#       'OldUTF8',
#       'TIS620',
#       'UHC',
#       'USASCII',
#       'UTF2',
#       'Windows1252',
#       'Windows1258',

    # other environment variables
#   HOME                   => $ENV{HOMEDRIVE} . $ENV{HOMEPATH},
#   LC_ALL                 => undef,
#   LC_CTYPE               => undef,
#   LC_COLLATE             => undef,
#   LC_NUMERIC             => undef,
#   PERL_BADLANG           => undef,
#   LOGDIR                 => $ENV{HOMEDRIVE} . $ENV{HOMEPATH},
#   PATH                   => $ENV{PATH},
#   PATHEXT                => $ENV{PATHEXT},
#   PERL5DB                => "BEGIN{ require 'perl5db.pl' }",
#   PERL5DB_THREADED       => undef,
#   PERL5OPT               => $ENV{'PERL5OPT'},
#   PERL_ALLOW_NON_IFS_LSP => undef, # specific to the Win32 port
#   PERL_DEBUG_MSTATS      => undef,
#   PERL_DESTRUCT_LEVEL    => undef,
#   PERL_DL_NONLAZY        => undef,
#   PERL_ENCODING          => undef, # Don't use this
#   PERL_HASH_SEED         => undef,
#   PERL_HASH_SEED_DEBUG   => undef,
#   PERL_MEM_LOG           => undef,
#   PERL_ROOT              => undef, # specific to the VMS port
#   PERL_SIGNALS           => undef,
#   PERL5SHELL => ($ENV{OS} eq 'Windows_NT') ? 'cmd.exe /x /c' : 'command.com /c', # specific to the Win32 port
#   PERLIO                 => undef,
#   PERLIO_DEBUG           => undef,
#   PERL_UNICODE           => undef,
#   PERL_PERTURB_KEYS      => undef,
#   'SYS$LOGIN'            => undef, # specific to the VMS port
#   SHELL                  => undef, # '/bin/sh',
#   IFS                    => undef,
#   CDPATH                 => undef,
#   ENV                    => undef,
#   BASH_ENV               => undef,
}
__END__
